

#p1{
    font-family: "Arial";
    font-weight: bold;
}
#p2{
    font-family: "Arial";
    text-shadow: 2px 2px navajowhite;
}
#p3{
    font-family: "Arial";
    
    text-shadow: 2px 2px navajowhite,
    2px 2px 4px brown
}

#p4{
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px red, 5px 5px blue
}
#p5{
    font-size: 40px;
    color:white;
    text-shadow: 1px 1px 2px red, 5px 5px 5px red, -5px -5px 5px red;

}