#me ul{
    list-style: none;

}
#me{
    position: relative;
    transition: all .3s;
}

.submenu{
    position: absolute;
    background-color: bisque;
    width:35% ;

}
.submenu li a{
    display: block;
    
    padding: 15px;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}